#myHeader {
    background: rgb(0, 0, 0) url('../images/bg/brick-wall-dark.png') !important;
}

.ctt a {
    min-width: 180px !important;
}

#midbody {
    padding: 0;
    margin: 0;
    background: url('../images/lodgeh.jpg') !important;
    background-repeat: repeat-x;
}

.img-fluid {
    max-height: 400px !important;
}

.gallery-container {
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.carousel-control-next span,
.carousel-control-prev span {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding: 20;
    color: rgb(255, 255, 255);
    background-color: rgb(158, 0, 0);
    text-align: center;
    border: 0;
    opacity: .8;
    transition: none
}

@media (prefers-reduced-motion:reduce) {
    .carousel-control-next,
    .carousel-control-prev {
        transition: none
    }
}

.carousel-control-next span:focus,
.carousel-control-next span:hover,
.carousel-control-prev span:focus,
.carousel-control-prev span:hover {
    color: rgb(253, 253, 253);
    background-color: rgb(126, 4, 4);
    text-decoration: none;
    outline: 0;
    opacity: .9
}

.carousel-control-prev {
    left: 0
}

.carousel-control-next {
    right: 0
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    border-radius: 100px !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    border-radius: 30px !important;
    opacity: .5;
    margin-top: 20px;
    list-style: none
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 30px;
    opacity: .5;
    margin-top: 20px;
    transition: opacity .6s ease
}

@media (prefers-reduced-motion:reduce) {
    #midbody {
        padding: 0;
        margin: 0;
        background: url('../images/lodgeh.jpg') !important;
        background-repeat: repeat-y;
    }
    .carousel-indicators [data-bs-target] {
        transition: none
    }
}

.carousel-indicators .active {
    opacity: 1
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center
}

.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
    filter: invert(1) grayscale(100)
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: rgb(252, 252, 252)
}

.carousel-dark .carousel-caption {
    color: #000
}