body {
    font-family: , Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#software {
    background: #ffffff url("images/bg/3px-tile.png");
}

#softp2 {
    background: #333333 !important;
    color: rgb(194, 192, 192);
    padding-bottom: 30px !important;
    margin-bottom: 20px !important;
}

.esamples {
    background-color: #272727 !important;
}

.esamples h3 {
    color: #f39b37 !important;
    padding-bottom: 30px !important;
    padding-top: 20px !important;
}

#softp {
    padding-bottom: 30px !important;
}

.w3-light-grey,
.w3-hover-light-grey:hover,
.w3-light-gray,
.w3-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important
}

h1 {
    color: #d5e454;
}

h2 {
    font-weight: bold;
    color: rgb(212, 37, 37);
}

h3 {
    color: rgb(37, 37, 37);
    margin-left: 20px;
    font-weight: bold;
}

h4 {
    color: rgb(8, 85, 136);
    font-weight: bold;
}

#down {
    margin: 0;
}

#feat {
    border-bottom: 1px solid #131313;
}

#notamong {
    color: rgb(184, 184, 182);
}

.fa-check {
    color: #46a043;
}

.fa-code {
    color: #a71409;
}

.exc {
    color: #e24444;
    font-weight: normal;
}

#menubtn {
    font-family: Helvetica, sans-serif, Arial;
    font-size: 14px;
    margin-left: 20px !important;
}

.navigate {
    border: 1px solid #000;
    text-decoration: none;
    background-color: rgb(177, 29, 29);
    color: rgb(231, 231, 231) !important;
    padding: 3px 20px;
}

.yes {
    border: 1px solid #000;
    text-decoration: none;
    background-color: rgb(147, 207, 247);
    color: #000 !important;
    padding: 3px 20px;
}

#hellosmall {
    border: 1px solid #000;
    text-decoration: none;
    background-color: rgb(147, 207, 247);
    color: #000 !important;
    padding: 10px 20px;
    margin-left: 10px;
}

.download {
    text-decoration: none;
    border: 2px solid #580202;
    background: #250101;
    color: rgb(204, 204, 204);
    padding: 3px 20px;
}

#buy {
    margin: 5px auto !important;
}

.bw {
    border: none;
    width: 100%;
    text-decoration: none;
    background-color: #272727;
    padding: 10px 20px;
    color: #bbba7d;
}

.call {
    border: 1px solid #000;
    width: 100%;
    text-decoration: none;
    background-color: rgb(143, 226, 95);
    color: #000 !important;
    padding: 3px 20px;
}

.price {
    font-size: 18px;
    font-weight: normal;
    border: none;
    background: rgb(238, 212, 65);
    color: #000;
    padding: 1px 20px !important;
    border-radius: 20px 0px 20px 0px;
    margin-right: 10px;
}

#subheading {
    font-size: 20px;
}

.w3-table tr th {
    font-size: 20px;
}


/*-----------------------------------GRAPHICS -------------------------------------------------------*/

.fa-pencil {
    color: rgb(99, 98, 97);
}

td {
    text-align: left !important;
    background: rgb(250, 249, 192);
    padding: 10px 10px !important;
}

th {
    text-align: left !important;
    background: rgb(241, 146, 146);
    padding: 10px 20px !important;
}

tr:hover {
    background-color: #ecda8a !important;
}

.tprice {
    font-style: normal;
    color: #6b6d6e;
    border-left: 1px solid #292929;
}

.tprice i {
    font-weight: bold;
    font-style: normal;
    color: #7c0808;
}

.w3-ul li h4 {
    color: #000;
    font-weight: bold;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.w3-ul li i {
    color: rgb(177, 9, 9);
    font-style: normal;
}


/*-----------------------------------PRODUCTS-------------------------------------------------------*/

.l3 p i {
    font-weight: bold;
    font-style: normal;
    color: #cc1800;
}

.l3 {
    margin: 10px auto !important;
}

#products h3 {
    color: rgb(207, 92, 92) !important;
}


/*-----------------------------------COURSES-------------------------------------------------------*/

li i {
    color: rgb(173, 6, 6);
}

.ctext {
    padding-bottom: 0px;
}

.l5 {
    background-color: #272727;
    margin-bottom: 20px;
}

.cdesc {
    background-color: #ad1414;
    margin-bottom: 0;
}

.cdesc h4 {
    color: #f8f548 !important;
    font-size: 28px !important;
    padding: 5px;
}

.cdesc p {
    color: #e4e4de !important;
    font-size: 18px !important;
    padding: 5px;
}

.cdesc ol {
    padding-bottom: 20px !important;
    padding-top: 10px !important;
    padding-left: 25px;
}

.cdesc p em {
    color: #000;
    background-color: #fadc57;
    padding: 2px;
    font: 16px !important;
}

.cdesc ol li {
    color: #dddddd !important;
    font-size: 12px !important;
    padding: 0px;
    border-bottom: 2px ridge #b92323;
}

@media only screen and (min-width: 769px) {
    .ctext {
        font-size: 12px;
        padding-left: 20px;
    }
    .ctext img {
        padding: 20px;
    }
    .l5 {
        margin: 3px;
    }
    .cdesc h4 {
        color: #f8f548 !important;
        font-size: 18px !important;
        padding: 5px;
    }
}

@media only screen and (max-width: 769px) {
    .esamp {
        margin-top: 30px;
    }
    .upcomingc {
        margin-bottom: 50px !important;
    }
    .upcomingc {
        padding: 5px;
        background-color: rgb(236, 236, 236);
        max-width: 400px !important;
        border: 0px solid #6ecf47;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.46), 0 2px 10px 0 rgba(0, 0, 0, 0.62) !important
    }
    .ctext {
        font-size: 12px;
    }
    .ctext {
        font-size: 12px;
    }
    .ctext i {
        color: #087fa3;
    }
    .ctext em {
        color: #cf0505;
        font-style: normal;
        font-size: 16px;
        background-color: #ebff3a;
        padding: 2px 5px;
    }
    #img3 {
        position: absolute;
        left: 57%;
        z-index: 1;
        width: 150px;
    }
}

@media only screen and (min-width: 769px) {
    .tgr {
        margin: 0px 20px !important;
        min-width: 500px;
    }
    .upcomingc {
        padding: 20px;
        background-color: rgb(253, 253, 253);
        max-width: 400px !important;
        border: 0px solid #6ecf47;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.46), 0 2px 10px 0 rgba(0, 0, 0, 0.62) !important
    }
    .fullcourses {
        float: right;
        display: none;
    }
    .ctext {
        font-size: 12px;
    }
    .ctext {
        font-size: 12px;
    }
    .ctext i {
        color: #087fa3;
    }
    .ctext em {
        color: #cf0505;
        font-style: normal;
        font-size: 16px;
        background-color: #ebff3a;
        padding: 2px 5px;
    }
    #img3 {
        position: absolute;
        left: 14%;
        z-index: 1;
        width: 150px;
    }
}

.fullcourses {
    background-image: url("images/bg/3px-tile.png");
    background-repeat: repeat-x;
    display: none;
}

.buycourse {
    float: left;
}

.prog {
    font-style: normal;
    color: #0f648f;
    border-left: 1px solid #292929;
    font-weight: bold;
}

.prog i {
    font-weight: bold;
    font-style: normal;
    color: #a30808;
}

#courses img {
    max-width: 250px;
}

#courses h4 {
    font-weight: bold !important;
    color: #000 !important;
}

#courses p {
    color: rgb(163, 7, 7) !important;
}

.coursecost {
    margin-top: 5px !important;
}

.coursecost h4 i {
    color: rgb(160, 3, 3) !important;
}

@media only screen and (max-width: 768px) {
    .buycourse {
        width: 200px;
    }
    .coursepic {
        display: none;
    }
    ol {
        margin-bottom: 40px !important;
    }
    .w3-card-4 {
        margin: 20px auto !important;
    }
    #optslarge {
        display: none;
    }
    #sample {
        margin-top: 30px;
    }
    .slogo {
        max-width: 220px !important;
    }
}

.ccontact {
    margin-bottom: 0px;
}

@media only screen and (min-width: 769px) {
    #softp {
        min-height: 320px;
    }
    #softp2 {
        min-height: 320px;
    }
    .buycourse {
        width: 200px;
        padding-left: 0px;
    }
    .coursepic {
        display: block;
    }
    .w3-card-4 {
        max-width: 350px;
    }
    #down {
        margin-left: 20px;
        max-width: 300px !important;
        color: #e24444 !important;
    }
    #hellosmall {
        display: none !important;
    }
    .l3 {
        margin: 5px !important;
    }
    .w3-quarter {
        margin: 20px;
    }
    #optslarge {
        display: block
    }
    #opts {
        display: none;
    }
    #menubtn {
        display: none;
    }
    .eflier {
        width: 400px;
    }
    .thumb {
        width: 100px !important;
    }
}


/*----------------------------------------------------------ABOUT US------------------------------------------------------------------------*/

.prog2 {
    font-style: normal;
    color: #960a0a;
    border-left: 1px solid #292929;
    font-weight: normal;
}

.w3-table2 td {
    padding: 3px 5px;
    border: 1px solid #000;
}

.w3-table2 {}

h6 {
    font-size: 24px;
    background-color: #d1d1d0 !important;
    font-weight: bold !important;
    margin-bottom: 0;
    color: #7c0808;
}

.w3-table2 tr:nth-child(even) {
    background-color: #f3f3f3;
}

.w3-card-4 {
    margin: 10px;
}

.imgback {
    background-color: rgb(175, 175, 175);
}

.l3pic h1 {
    color: rgb(212, 82, 82);
    font-size: 100px;
}

footer {
    margin-top: 40px !important;
}