@charset "UTF-8";
@media only screen and (min-width: 600px) {
.header{flex:1;  
    width: 100%;
    left: 0px;margin: 0px;
	display: flex; flex-direction: column; background-color: #000;color: #fff; font-family: Trebuchet ms, Arial; font-size: 14px; width: auto; 
 
 }


.mother{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0px;
	

}
.toptwo{
	display: flex;
	flex-direction: row;
	margin: 0;
	
	flex-wrap: wrap;
}

h1{
width: 400px; margin: 20px auto;	font-size: 30px; text-align: center; border-bottom: 1px solid #fff; 
}
h2 {
	text-align: left; color: #404040; text-align: center;
}

.menu{
	background-color: #b30000; color: #fff;float: none;
	margin: 0px auto 10px 20%; padding: 10px 20px;
	font-size: 16px;border-radius: 0px;
}

.menu:hover{
	background-color: #ffbb33; color: #000;
}

.main{flex:1;  
  
    
    height: 100%;
    width: 100%;
    bottom: 0px;
	 /*  background-image: url("images/code.png");
     background-position: right bottom, left top;
    background-repeat: no-repeat, repeat; */
     background-color: #ffd480;
     
    padding: 15px; 
text-align: center;
font-family: arial; font-size: 16px;margin: 0px;

}
.wtext{
	font-weight: bolder;
	font-family: times new roman;
	color: red;
	font-size: 45px;
	border:none;
	width: 100%;
}

.websites{
	display: inline-block;
	font-style: normal;
}
.websites1{
	display: none;
}

.churchtop{
	display: none;
}
.logo{
	flex: 1;text-align: center;
}

.heading{
	flex:3;
	margin: 80px auto 20px;
}


#churchname{
	font-size: 16px; margin-top: 0px;font-style: normal;
	font-family: Trebuchet ms, Arial; font-weight: normal;
}


#navbar{
	background-color: #000;padding: 10px; height: 100%;margin: 0px ;
width: 600px; margin: 20px auto;
}
#topbuttons {
	margin-bottom: 20px;
}

/*---------DROPDOWN MENU---------*/

#home {
	margin-left: auto;
}


.getoffer {
    display: none;
     }

  .getoffer3{
  	background-color: #006699;
     
     opacity: 1;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.7);
    border-bottom:  1px solid black;
    text-decoration: none;
    display: block;
    border:none;
    text-align: left; color: #fff; 
  padding: 10px 20px;
         margin: 0px auto 20px;
         width: 200px;
        
  }

.getoffer3:hover {background-color:#00334d ; }


button {background-color: #669900; color: #fff;float: none;
	width: 40%;
	margin: 0px auto 0px; padding: 10px 20px;
	font-size: 16px;border-radius: 40px;border:1px solid #000;

}

button:hover {background-color: #e8e87d;color: #000; }


.homepage {background-color: #669900; color: #000;float: none;
	 font-family: arial;
      color: #e1e1d0;
	padding: 10px 20px ;
     border-radius: 0;
     text-align: center;
    margin: 0px auto;
    margin-bottom: 5px;
	font-size: 16px;border-radius: 40px;border:1px solid #000;
text-decoration: none;
}

.homepage:hover {background-color:#446600; }


#tools img {
padding-bottom: 20px;
}

h3 {
	color: #000; font-size: 24px;font-family: Trebuchet ms, Arial;
	margin: 20px 20px 10px 20px;  text-align: left;
}


/*-------------VIDEO OF THE WEEK---------*/

.video {
	background-color: #fff;
	opacity: 1;
	margin: 0px auto;
	text-align: center;
	margin-bottom: 0px;
	
}
.aboutvid {
	padding:  10px; 
	margin: 0px;
	background-color: #1c1e15;
	font-style: normal;  color: #fff;font-size: 30px;
	margin-bottom: 10px;
	font-family: Trebuchet ms, Arial; 
}

.photo{
	width: 200px;opacity: 1;
}
.video img{
	opacity: 1;
}

.videoparttut{
	display: none;
}
.videopart{
	
	color: #fff;
	padding: 20px;
	margin-top: 0px;
	width: 360px;
	margin: 0px auto;
	

}


.videopart a{
	 
	text-decoration: none;
	background-color: #53ff1a;
	color: #000;
	padding:7px;
	margin-top: 0px;
	margin-right: 20px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.9);


}

.videopart a:hover {
	
	background-color:#99cc00;
	color: black;
	
}
#parts {
display: flex;
flex-direction: row;
margin-top: 20px;
}

#partoffers {
display: flex;
flex-direction: row;
margin-top: 0px;
}

.partition{
	
	border: 0px solid #000;
	border-style: ridge;
	width: 500px;
	margin: 0px auto 20px auto;
}

.videopart1{
	background-color: #fff;
	color: #fff;
	padding: 20px;
	margin-top: 0px;
	
	margin: 0px auto;
	

}


.videopart1 a{
	 font-size: 13px;
	text-decoration: none;
	background-color: #53ff1a;
	color: #000;
	padding:7px;
	margin-top: 0px;
	margin-right: 10px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.9);


}

.videopart1 a:hover {
	
	background-color:#ccff66;
	color: black;}
	

.partitiono{
	
	border: 0px solid #000;
	border-style: ridge;
	width: 500px;
	margin: 0px auto 20px auto;
	
}




.videoo {
	
	opacity: 1;
	margin: 0px auto;
	text-align: center;
	margin-bottom: 0px;
	
}
.aboutvido {
	padding:  10px; 
	margin: 0px;
	background-color: #fff;
	font-style: normal;  color: #fff;font-size: 24px;
	margin-bottom: 10px;
	font-family:  Arial; 
}
.videopartadvert a{
	 
	text-decoration: none;
	background-color: #53ff1a;
	color: #000;
	padding:7px;
	margin: 0px auto ;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.9);

}

.deal{
	width: 280px;
	margin:10px auto 20px;
	background-color: #fff;
	padding: 10px;
}

.me {
	
	margin-bottom: 5px;
	border-bottom: 0.5px solid #000;
	background-color: rgba(255, 255, 255,.05);
	color: #000;
		padding: 10px;
}
	
.me img{
	margin: 20px 10px 0px 0px;
}

.powerpart{
	background-color: #fff; padding:10px; 
}

.powerpart h3{
	color: red;
	margin: 0;
	padding: 10px 20px;
	text-align: left;

	font-family: times new roman;
	font-size: 28px;
}

.gallery{
	width: 80%;
}


.footer {
	background-color: #fff;
	color: #000;
	padding: 20px;
	font-size: 12px;
	text-align: center;
	position: relative;
	height: 20%;
	font-family: arial;


}

}

/*--------SMALLER SCREENS----------------*/

@charset "UTF-8";
@media only screen and (max-width: 600px) {
.header{
	display: flex; flex-direction: column; background-color: #000; color: #fff; font-family: Trebuchet ms, Arial; font-size: 14px; width: auto; 
 }
h1{
 margin: 20px auto;	font-size: 30px; text-align: center; 
}
h2 {
	text-align: left; color: #1a1a1a; text-align: center;
}

.menu{
	background-color: #b30000; color: #fff;float: none;
	margin: 0px auto ; padding: 10px 20px;
	font-size: 16px;border-radius: 0px;border:none;
}
#menu{
	background-color: #1a1a1a;
}

.main{
	  /*  background-image: url("images/bg.png");
    background-repeat: repeat-y; */
    background-color:  #fff; /*#d2d7c1; */
    height: 100%;
flex:3;
text-align: center;
font-family: arial; font-size: 16px; margin: 0px;
}

.churchtop{
	display: none;
}
.logo{
	flex: 1;text-align: center;
}

.heading{
	flex:1;
	margin: 20px auto 20px;
}
.mother{
	display: flex;
	flex-direction: column;
	background-color: #fff;
	margin: 0;
	height: 100%;
}

#churchname{
	font-size: 16px; margin: 0px auto 10px;font-style: normal;width: 300px;text-align: center;
	font-family: Trebuchet ms, Arial; font-weight: normal; border-top: 1px solid #737373; padding: 5px 20px;
}
.wtext{
	font-weight: bolder;
	font-family: Arial;
	font-weight: lighter;
	color: #000;
	font-size: 35px;
	border:none;
	width: 100%;
	margin: 5px auto;
}

.websites{
	display: none;
	}
	.websites1{
		font-weight: bold;
	color: red;
	font-style: normal;
	font-size: 55px;
}
#navbar{
background-color: #1a1a1a; padding: 10px; height: 100%;margin: 0px ;
}

#topbuttons {
	margin-bottom: 20px;
}


/*---------DROPDOWN MENU---------*/

#home {
	margin: 5px auto;
	background-color: rgba(255, 255, 255,.05);
	color: #cccccc;
}


button {
    color:#cccccc;
     background-color: #262626;
    /* background-color: #ec9079; */
     
    border-bottom:  0px solid black;
    padding: 10px 13px ;
    text-decoration: none;
    display: block;
    font-size: 14px;
    border:0;
    border-right:1px solid #666666;
    margin: 0px;
    margin-bottom: 5px;
    float: right;

}

button:hover {background-color: #333333;color: #ffdb4d; }

.ctd{display: inline-block;height: 100%;
 width: 40%;padding: 20px;color: #fff; 
 background-color: #a50d0d;margin: 0; text-align: center; 
}
.ctd:hover {
	background-color: #d41111;color: #fff;border:none;
}

.gme{display: inline-block;height: 100%;
 width: 40%;height: padding: 20px;color: #fff; 
 background-color: #760a0a;margin: 0; text-align: center; 
}
.gme:hover {
	background-color: #a50d0d;color: #fff;border:none;
}
.optionbtns{display: inline-table;height: 100px;

}
.homepage {
  
     background-color: #262626;
    /* background-color: #ec9079; */
     font-family: arial;
      color: #e1e1d0;
    border-bottom:  0px solid black;
    padding: 10px 20px ;
     border-radius: 0;
     text-align: center;
    margin: 0px auto;
    margin-bottom: 5px;
    text-decoration: none;
      display: block;
    font-size: 14px;
    border:1px solid #000;
    border-right:1px solid #666666;

    
}

.homepage:hover {background-color: #446600; }



#home p{
	  text-align: left;
}

.getoffer {
    
     background-color: #53ff1a;
     font-size: 14px;
     opacity: 1;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
    border-bottom:  1px solid black;
    text-decoration: none;
    display: block;
    border:none;
    text-align: left; color: #000; 
    padding: 10px;
         margin: 0px auto 20px ;
         width: 130px;

}

.getoffer:hover {background-color:#88cc00 ; }


#tools img {
padding-bottom: 20px;
}

#tools h3{
	color: #ff9933;
}

h3 {
	color: #000; font-size: 24px;font-family: Arial;
	margin: 20px 20px 10px 20px;  text-align: left;
}
/*-------------VIDEO OF THE WEEK---------*/

.video {
	background-color: #fff;
	opacity: 1;
	margin: 0px auto;
	text-align: center;
	margin-bottom: 0px;
	
}
.video img{
	opacity: 1;
}

.aboutvid {
	padding:  10px; 
	margin: 0px;
	background-color: #1a1a1a;
	font-style: normal;  color: #fff;font-size: 22px;
	margin-bottom: 10px;
	font-family:  Arial; 
}

.photo{
	width: 150px;opacity: 1;
}

.videopart{
	
	color: #fff;
	padding: 20px;
	margin-top: 0px;
		margin: 0px auto;
	
}


.videopart a{
	 
	text-decoration: none;
	background-color: #53ff1a;
	color: #000;
	padding:7px;
	margin-top: 0px;
	margin-right: 20px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.9);


}

.videopart a:hover {
	
	background-color:#ccff66;
	color: black;
	
}




.videoparttut{
	
	color: #fff;
	padding: 20px;
	margin-top: 0px;
		margin: 0px auto;
	
}


.videoparttut a{
	 
	text-decoration: none;
	background-color: #53ff1a;
	color: #000;
	padding:7px;
	margin-top: 0px;
	margin-right: 20px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.9);


}

.videoparttut a:hover {
	
	background-color:#ccff66;
	color: black;
	
}
#parts {
display: flex;
flex-direction: column;
margin-top: 0px;

}

.partition{
	
	border: 0px solid #000;
	border-style: ridge;
	width: 100%;
	margin: 0px auto 20px auto;
	
}

.partitiono{
	
	border: 0px solid #000;
	border-style: ridge;
	margin: 0px auto 20px auto;
	
}




.videoo {
	
	opacity: 1;
	margin: 0px 10px;
	text-align: center;
	margin-bottom: 0px;
	
}
.aboutvido {
	padding: 0px 10px; 
	margin: 0px;
	font-style: normal;  color: #fff;font-size: 24px;
	font-family:  Arial; 
}

.deal{
	width: 280px;
	margin:10px auto 20px;
	background-color: #fff;
	padding: 10px;
}

.videopart1{
	background-color: #fff;
	color: #fff;
	padding: 20px;
	margin-top: 0px;
	
	margin: 0px auto;
	

}


.videopart1 a{
	 font-size: 13px;
	text-decoration: none;
	background-color: #53ff1a;
	color: #000;
	padding:7px;
	margin-top: 0px;
	margin-right: 10px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.9);


}

.videopart1 a:hover {
	
	background-color:#ccff66;
	color: black;}


	.videopartadvert a{
	 
	text-decoration: none;
	background-color: #53ff1a;
	color: #000;
	padding:7px;
	margin: 0px auto ;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.9);

}

.me {
	
	margin-bottom: 5px;
	border-bottom: 0.5px solid #000;
	background-color: #ffdd99;
	color: #000;
		padding: 10px;
}
	
.me img{
	margin: 20px 10px 0px 0px;
}

.powerpart{
	background-color: #fff; padding:10px; 
}
.powerpart h3{
	color: red;
	margin: 0 20px;
	padding: 10px 20px;
	text-align: left;

	font-family: times new roman;
	font-size: 24px;
}

#part {
	margin-top: 0px;
}

.gallery{ width: 100%;
	
}
.eframe{
	display: none;
}

.footer {
	background-color: #fff;
	color: #000;
	padding: 20px;
	font-size: 12px;
	text-align: center;
	position: relative;
	
	font-family: arial;


}
}
