@charset "UTF-8";
@media only screen and (min-width: 600px) {
.header{
	display: flex; flex-direction: column; background-color: #000; color: #fff; font-family: Trebuchet ms, Arial; font-size: 14px; width: auto; 
 }
h1{
width: 400px; margin: 20px auto;	font-size: 30px; text-align: center; border-bottom: 1px solid #fff; 
}
h2 {
	text-align: left; color: #404040; text-align: center;
}


.main{
	  /*  background-image: url("images/bg.jpg");
    background-repeat: repeat-y; */
    background-color: #afb894; 
text-align: center;
font-family: arial; font-size: 16px;
}

.churchtop{
	display: none;
}
.logo{
	flex: 1;text-align: center;
}

.heading{
	flex:3;
}

#churchname{
	font-size: 16px; margin-top: 0px;font-style: normal;
	font-family: Trebuchet ms, Arial; font-weight: lighter;
}

#navbar{
	background-color: #fff;padding: 10px; height: auto;margin-left:  auto;
    margin-right:  auto; text-align: center;
}

/*---------DROPDOWN MENU---------*/

#home {
	margin-left: auto;
}


.getoffer {
    
     background-color: #2db300;
     
     opacity: 0.95;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.7);
    border-bottom:  1px solid black;
    text-decoration: none;
    display: block;
    border:none;
    text-align: left; color: #fff; 
    padding: 10px;
         margin: 0px 20px 20px 20px;
         width: 150px;

}

.getoffer:hover {background-color:#88cc00 ; }


button {
    color: #000;
     background-color: #88cc00;
     opacity: 0.95;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.7);
    border-bottom:  0px solid black;
    padding: 12px ;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border:none;
    width: 100px;
    margin-right: 10px;

}

button:hover {background-color: #2db300; }


#tools img {
padding-bottom: 20px;
}

h3 {
	color: #000; font-size: 24px;font-family: Trebuchet ms, Arial;
	margin: 20px 20px 10px 20px;  text-align: left;
}


/*-------------VIDEO OF THE WEEK---------*/

.video {
	background-color: #fff;
	opacity: 0.95;
	margin: 0px auto;
	width: 400px;
	text-align: center;
	margin-bottom: 0px;
	
}
.aboutvid {
	padding:  10px; 
	margin: 0px;
	background-color: #1c1e15;
	font-style: normal;  color: #fff;font-size: 30px;
	margin-bottom: 10px;
	font-family: Trebuchet ms, Arial; 
}

.photo{
	width: 200px;
}

.videopart{
	background-color: #fff;
	color: #fff;
	padding: 20px;
	margin-top: 0px;
	width: 360px;
	margin: 0px auto;
	

}


.videopart a{
	 
	text-decoration: none;
	background-color: #53ff1a;
	color: #000;
	padding:7px;
	margin-top: 0px;
	margin-right: 20px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.9);


}

.videopart a:hover {
	
	background-color:#99cc00;
	color: black;
	
}
.parts {
display: flex;
flex-direction: row;
margin-top: 20px;
}

.partition{
	
	border: 0px solid #000;
	border-style: ridge;
	width: 400px;
	margin: 20px auto;
	box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0.5,0.5,0.5,0.5);
}

.videopart1{
	background-color: #fff;
	color: #fff;
	padding: 20px;
	margin-top: 0px;
	width: 260px;
	margin: 0px auto;
	

}


.videopart1 a{
	 font-size: 13px;
	text-decoration: none;
	background-color: #53ff1a;
	color: #000;
	padding:7px;
	margin-top: 0px;
	margin-right: 10px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.9);


}

.videopart1 a:hover {
	
	background-color:#ccff66;
	color: black;}
	


.footer {
	background-color: #1b1a18;
	color: #c3c2bb;
	padding: 20px;
	font-size: 12px;

}

}

/*--------SMALLER SCREENS----------------*/

@charset "UTF-8";
@media only screen and (max-width: 600px) {
.header{
	display: flex; flex-direction: column; background-color: #000; color: #fff; font-family: Trebuchet ms, Arial; font-size: 14px; width: auto; 
 }
h1{
 margin: 20px auto;	font-size: 30px; text-align: center; 
}
h2 {
	text-align: left; color: #404040; text-align: center;font-size: 20px;
}

.main{
	  /*  background-image: url("images/bg.jpg");
    background-repeat: repeat-y; */
    background-color: #afb894; 
text-align: center;
font-family: arial; font-size: 16px; margin: 0px;
}

.churchtop{
	display: none;
}
.logo{
	flex: 1;text-align: center;
}

.heading{
	flex:3;
}

#churchname{
	font-size: 16px; margin-top: 0px;font-style: normal;
	font-family: Trebuchet ms, Arial; font-weight: lighter; border-top: 1px solid #737373; padding: 5px 20px;
}

#navbar{
	background-color: #fff;padding: 10px; height: 100%;margin: 0px 0px 20px 0px;
}

/*---------DROPDOWN MENU---------*/

#home {
	margin-left: auto;
}


button {
    color: #000;
     background-color: #88cc00;
     opacity: 0.95;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.7);
    border-bottom:  0px solid black;
    padding: 12px ;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border:none;
    width: 100px;
    margin-right: 10px;
	margin-bottom: 10px;

}

button:hover {background-color: #ccff66; }


#home p{
	  text-align: left;
}

.getoffer {
    
     background-color: #2db300;
     
     opacity: 0.95;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.7);
    border-bottom:  1px solid black;
    text-decoration: none;
    display: block;
    border:none;
    text-align: left; color: #fff; 
    padding: 10px;
         margin: 0px 20px 20px 20px;
         width: 150px;

}

.getoffer:hover {background-color:#88cc00 ; }


#tools img {
padding-bottom: 20px;
}

h3 {
	color: #000; font-size: 24px;font-family: Trebuchet ms, Arial;
	margin: 20px 20px 10px 20px;  text-align: left;
}
/*-------------VIDEO OF THE WEEK---------*/

.video {
	background-color: #fff;
	opacity: 0.95;
	margin: 0px auto;
	width: 400px;
	text-align: center;
	margin-bottom: 0px;
	
}
.aboutvid {
	padding:  10px; 
	margin: 0px;
	background-color: #1c1e15;
	font-style: normal;  color: #fff;font-size: 24px;
	margin-bottom: 10px;
	font-family: Trebuchet ms, Arial; 
}

.photo{
	width: 200px;
}

.videopart{
	
	color: #fff;
	padding: 20px;
	margin-top: 0px;
	width: 360px;
	margin: 0px auto;
	

}


.videopart a{
	 
	text-decoration: none;
	background-color: #53ff1a;
	color: #000;
	padding:7px;
	margin-top: 0px;
	margin-right: 20px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.9);


}

.videopart a:hover {
	
	background-color:#ccff66;
	color: black;
	
}
.parts {
display: flex;
flex-direction: column;
margin-top: 0px;
}

.partition{
	
	border: 0px solid #000;
	border-style: ridge;
	width: 400px;
	margin: 0px auto 20px auto;
	box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0.5,0.5,0.5,0.5);
}


.videopart1{
	background-color: #fff;
	color: #fff;
	padding: 20px;
	margin-top: 0px;
	width: 260px;
	margin: 0px auto;
	

}


.videopart1 a{
	 font-size: 13px;
	text-decoration: none;
	background-color: #53ff1a;
	color: #000;
	padding:7px;
	margin-top: 0px;
	margin-right: 10px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.9);


}

.videopart1 a:hover {
	
	background-color:#ccff66;
	color: black;}
	



.footer {
	background-color: #1b1a18;
	color: #c3c2bb;
	padding: 20px;
	font-size: 12px;


}
}
