@charset "UTF-8";
@media only screen and (min-width: 600px) {
.product{
	background-color: #e9d97c;
	margin: 0px 20px 20px ;
	border-radius: 10px;
	color: #000;
	border: 1px solid #000;
}

.product img{
	width: 50%;margin: 0;
}

.product h2{
	color:#fff;
	background-color: #800000;
	font-family: Trebuchet MS, Arial;
	font-size: 200%;
	margin: 0px 10px;
	text-align: left;
	padding: 5px;
	padding-left: 20px;

}


.product p{
	padding:10px;
	padding-top:0;
	padding-left: 20px;
	text-align: left;
}
.product p em{
	color: red;
	font-weight: bolder;
	font-size: 120%;
}

.product h3{
	color:#800000;
	background-color:#fff ;
	font-family:  Arial;
	font-size: 150%;
	margin: 10px;
	text-align: center;
	padding: 10px 20px;
	font-weight: bolder;


}

.product h3 i{
	color:#000;
	background-color:#fff ;
	font-family:  Arial;
	margin: 10px;
	text-align: left;
	padding-left: 0px;
	font-weight: normal;

}
}

/*-----------------PHONE---------------*/

@charset "UTF-8";
@media only screen and (max-width: 600px) {

.product{
	background-color: #e9d97c;
	margin: 0px 20px 20px;
	border-radius: 10px;
	color: #000;
}

.product img{
	width: 100%;margin: 0;
}

.product h2{
	color:#fff;
	background-color: #800000;
	font-family: Trebuchet MS, Arial;
	font-size: 150%;
	margin: 0px 10px;
	text-align: left;
	padding: 5px;
	padding-left: 20px;

}

.product h3{
	color:#800000;
	background-color:#fff ;
	font-family:  Arial;
	font-size: 150%;
	margin: 10px;
	text-align: center;
	padding: 10px 20px;
	font-weight: bolder;


}

.product h3 i{
	color:#000;
	background-color:#fff ;
	font-family:  Arial;
	margin: 10px;
	text-align: left;
	padding-left: 0px;
	font-weight: normal;

}

.product p{
	padding:10px;
	padding-top:0;
	padding-left: 20px;
	text-align: left;
}
.product p em{
	color: red;
	font-weight: bolder;
	font-size: 120%;
}
}