
table {
      width: 90%;
  margin: 10px auto; font-size: 14px; color: #fff; 
}
table, th, td {
    border: 0.2px solid #000;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #404040;
}
table#t01 tr:nth-child(odd) {
  background-color: #262626;
}
table#t01 th	{
    background-color: #ecdb79;
    color: #000;
}
table#t01 tr:nth-child(2) {
    background-color: #b39c19;
}

table#t01 tr:nth-child(9) {
     background-color: #998200;
    color: #fff;
}


table#t01 tr:nth-child(13) {
     background-color: #998200;
    color: #fff;
}

table#t01 tr:nth-child(21) {
     background-color: #998200;
    color: #fff;
}