table {
    width:100%; font-size: 14px;
}
table, th, td {
    border: 0.2px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: #1c1f14;
    color: white;
}
table#t01 tr:nth-child(2) {
    background-color: #a9e236;
}

table#t01 tr:nth-child(7) {
    background-color: #a9e236;
}


table#t01 tr:nth-child(11) {
    background-color: #a9e236;
}

table#t01 tr:nth-child(19) {
    background-color: #a9e236;
}