@charset "UTF-8";
@media only screen and (min-width: 600px) {
	.tutbuttons{
		display: inline-table;
	}

.animatorbtn{
	height: 100px;
	border:0;
	border-radius: 0;
	margin:0;
	margin-top: 20px;
	margin-bottom: 5px;
	display: inline-block;
	width: 50%;
	float: none;
}
.animatorbtn:hover{
	background-color: #1a1a1a;
	color: #fff;
}

.codingbtn{
	height: 100px;
	border:0;
	border-radius: 0;
	margin:0;
	float: none;
	margin-top: 20px;
	margin-bottom: 5px;
	width: 50%;
	display: inline-block;
	background-color: #b30000;
}
.codingbtn:hover{
	background-color: #cc0000;
	color: #fff;
}


.animatorprice{
	height: 100px;
	width: 80%;
	border:0;
	float: none;
	border-radius: 0;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 5px;
	color: #fff;
	font-size: 35px;
	background-color:#b39800;
	
}

.animatorprice:hover{
	background-color: #806c00;
	color: #fff;
}


.codingprice{
	height: 100px;
	width: 80%;
	border:0;
	float: none;
	border-radius: 0;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 5px;
	color: #fff;
	font-size: 35px;
	background-color: #b39800;
	
}
.codingprice:hover{
	background-color: #806c00;
	color: #fff;
}

#tuts{
	 width: 80%; margin: 20px auto;
}
#coding h2{
	color: red;
	font-family: times new roman;
}
#animator h2{
	color: red;
	font-family: times new roman;
}
#tuts h1{
	font-family: times new roman;
}

.codeimg{
	width: 20%;
	float: left;
}

.codetxt{
	padding: 10px auto;
	text-align: left;
	width: 80%;
	
}
#coding{
		width: 80%;
	margin: 10px auto;
}

}


@charset "UTF-8";
@media only screen and (max-width: 600px) {

.animatorbtn{
	height: 100px;
	border:0;
	border-radius: 0;
	margin-right: 0;
	margin-left: 10px
	margin-top: 20px;
	margin-bottom: 5px;
	width: 50%;
	float: none;
}
.animatorbtn:hover{
	background-color: #1a1a1a;
	color: #fff;
}

.codingbtn{
	height: 100px;
	border:0;
	border-radius: 0;
	margin-left: 0px
	margin-top: 20px;
	margin-bottom: 5px;
	width: 50%;
	background-color: #b30000;
}
.codingbtn:hover{
	background-color: #cc0000;
	color: #fff;
}

.animatorprice{
	height: 100px;
	width: 80%;
	border:0;
	float: none;
	border-radius: 0;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 5px;
	color: #fff;
	font-size: 25px;
	background-color:#b39800;
	
}

.animatorprice:hover{
	background-color: #806c00;
	color: #fff;
}


.codingprice{
	height: 100px;
	width: 80%;
	border:0;
	float: none;
	border-radius: 0;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 5px;
	color: #fff;
	font-size: 25px;
	background-color: #b39800;
	
}
.codingprice:hover{
	background-color: #806c00;
	color: #fff;
}

#tut1{
	margin-bottom: 20px;
}

#coding h2{
	color: red;
	font-family: times new roman;
}
#animator h2{
	color: red;
	font-family: times new roman;
}

.buythewhole{
	font-family: times new roman;
	margin: 10px auto 0px;
	font-size: 24px;
	color: #b39800;
}

#coding{
	margin: 0px;
}

.codeimg{
	width: 80%;

}
.codetxt{
	padding: 0px 20px;
	text-align: left;
	margin: 20px 20px;
}
#tuts{
	background-color: #ffdd99;
}
}