

.scene {
  padding:  10px 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  font-family: consolas, arial;
   color: #fff;
background-color: #1a1a1a;
  border-radius: 20px;
}

.actor {
  font-size: 18px;
  display: -webkit-box;
  display: flex;
  margin-bottom: 0;

}
.actor:last-of-type {
  color: #96cde9;
  
}

.actor__content {
  -webkit-box-flex: 1;
          flex-grow: 1;
}




.actor__content--typing::after {
  content: '|';
  -webkit-animation: blink 600ms infinite;
          animation: blink 600ms infinite;
}
